.logList {
    background-color : #FFFFFF;
    width : 100%;
}
.logList h1, h6 {
    text-align: center;
    color : #808080
}

.logList section {
    text-align: center;
}
.logList section table{
    margin-left: auto;
    margin-right:auto;
}
.logList section table td{
    font-size:small;
    padding : 1rem;
    /* box-shadow: 1px 1px 1px 1px gray; */
    border : solid 1px #808080;
}
.logList section table th{
    font-weight: bold;
    padding : 1rem;
    border:solid 1px #808080;
    background-color: #ffecb3;
}

.logList section table tbody tr:nth-child(odd) {
    background-color: #F8F8F1;
}
.logList section table tbody tr:nth-child(even) {
    background-color: #FFFFFF;
}

.phoneImg {
    
}