.topNav {
    width: 100%;
    border-bottom : solid gray 1px;
    box-shadow: 2px 2px 2px gray;
}
.topLogoDiv {
    margin : 0.5rem;
    height : 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topLogoDiv img {
    width : 20%;
}

.menu , .menu span {
    display : inline-block;
    transition : all 0.4s;
    box-sizing: border-box;
}

.menu {
    position : relative;
    width : 20px;
    height: 20px;
}

.menu span {
    position : absolute;
    left : 0;
    width : 100%;
    height : 2px;
    background-color : #000;
    border-radius : 4px;
}

.menu span:nth-child(1) {
    top: 0;
}

.menu span:nth-child(2) {
    top: 9px;
}

.menu span:nth-child(3) {
    bottom: 0;
}

.menu.active span:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(-45deg);
    transform : translateY(9px) rotate(-45deg);
}

.menu.active span:nth-child(2) {
    opacity : 0;
}

.menu.active span:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(45deg);
    transform : translateY(-9px) rotate(45deg);
}
